/*
!.bashrc
!.gitignore
!.vimrc
!.xinitrc
!LICENSE
!README.md

!.config
.config/*
!.config/awesome
!.config/awesome/*
!.config/termite
!.config/termite/*

!.poshthemes

!.user_scripts

!.vim
.vim/*
!.vim/autoload

